<!doctype html>
<html lang="en">

<head xmlns:th="https://www.thymeleaf.org">
    <link rel="stylesheet" href="styles.css?v=1">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>CryptoTracker</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width" />
	<base href="/" />
</head>

<body>

    <h1>NBA Free Agency Tracker</h1>

    <ol>
        <li><a href="team">Add a team</a></li>
        <li><a href="player">Add a player</a></li>
        <li><a href="signing">Sign Free Agent</a></li>
        <li><a href="sellinvestment">Sell an investment</a></li>
        <li><a href="option5.html">View all investments</a></li>
        <li><a href="option6.html">View all investors</a></li>
        <li><a href="viewallsignings">View all investors</a></li>
    </ol>

</body>

</html>

<script>



</script>